.My-List{
    padding: 8px 24px; background-color: #f7f381; width: 500px; margin: auto; box-shadow: 0 0 10px 2px #333333;border:  1px solid #f7f381; 
}
 li,p {font-size: 30px}
 p{text-align: center;}
 ol{margin: 12px}